<div class="col-md-8 col-md-offset-2 col-sm-12" ng-controller="NewContactController">
  <%= form_tag('/contacts') do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Add Player Profile</h2>
        <p>stay updated on this and new games from Blue Winter</p>
        <% @contact.errors.full_messages.each do |e| %>
          <p><%= e %></p>
        <% end %>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= text_field_tag 'firstname', @contact.firstname, placeholder: "first name", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= text_field_tag 'lastname', @contact.lastname, placeholder: "last name", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= email_field_tag 'email', @contact.email, placeholder: "email", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= text_field_tag 'email', @contact.twitter, placeholder: "twitter handle", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= text_field_tag 'birth_year', @contact.birth_year, placeholder: "year of birth", class: "form-control" %>
        </div>
        <div class="form-group">
          <label>did you get a chance to play the game?
            <input type="checkbox" name="played_parallel" ng-model="played_parallel">
          </label>
        </div>
        <div class="form-group" ng-show="played_parallel">
          <%= text_area_tag 'feedback', @playtest.feedback, placeholder: "add some feedback for us...", class: "form-control" %>
        </div>
      </div>
      <div class="panel-footer">
        <div>
          <%= submit_tag 'Save', class: "btn btn-info" %>
          <%= link_to 'Cancel', '/', class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
